body {
    background: #e0e5ec;
} 

/* CONTAINER */
.container {
    margin: auto;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* INPUT */
.input-component {
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 25px;
    width: 75vh;
    background: transparent;
}

/* BOTAO */
button {
    margin: 20px;
    outline: none;
}

.button-component {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

.button-component:hover {
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}

/* FOOTER */
.footer-text {
    font-family: 'Lato', sans-serif;
}

.hiperlink {
    text-decoration: none;
    color: #ffa54a;
}

.hiperlink:hover {
    color: #ffce8b;
}